<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>StartProject</title>

  <link href="index.css" rel="stylesheet" />
  <link rel="stylesheet" href="jquery.bxslider.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>

<body>
	<header>
		
	<img src="img/logo.png">
	<ul class="header-menu">
		<li>How we work</li>
		<li>Companies</li>
		<li>Testimonials</li>
		<li>Contact Us</li>
		<li class="header-li">Sign Up</li>
		<li class="header-li">Login</li>
	</ul>

	</header>

	<main>
<div class="main-slider">
	<div class="slider">
    		<div><h2>EXTENDING YOUR TEAM</h2> <p>Find a perfect match</p></div>
    		<div><h2>EXTENDING YOUR TEAM</h2> <p>Find a perfect match</p></div>
  		</div>

  	</div>
		
	<h3>HOW WE WORK</h3>
	<div class="main-part1">
		<div class="main-part1_text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius suscipit massa pulvinar scelerisque. Nunc auctor, ante tempus rutrum pulvinar, dolor libero porttitor eros, ac eleifend nisl libero id metus. Etiam at nibh tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla ultricies, ex ac vulputate efficitur, arcu quam iaculis dui, at lacinia dui ipsum ut neque. </p>

<p>Etiam a vehicula neque, porttitor varius nibh. Aenean at tempus lorem. Praesent auctor nibh et dapibus luctus. Vivamus augue diam, aliquet a rutrum eget, pulvinar porttitor erat. Donec sodales vulputate risus sit amet tincidunt. Donec pretium neque sed ultricies posuere. Maecenas ultrices suscipit odio, et cursus libero interdum vitae.</p>

<p>Proin quis iaculis tortor, ut convallis lectus. Cras vel lacus et purus convallis sollicitudin. Phasellus sit amet mi justo. Ut sollicitudin sem non purus posuere consectetur. Quisque convallis vehicula mi, in aliquam ligula convallis at.  </p>
		</div>
		<div class="main-part1_player"><video preload="auto" loop="loop" autoplay="autoplay" id="video" controls>

</video></div>
	</div>

	<h3>FEATURED COMPANIES</h3>
	<div class="main-part2">
		<img src="img/mainIMG.png">
		<img src="img/mainIMG.png">
		<img src="img/mainIMG.png">
		<img src="img/mainIMG.png">
		<img src="img/mainIMG.png">
		<img src="img/mainIMG.png">
	</div>


	<h3>FEW TESTIMONIALS</h3>
	<div class="main-part3">
		 <div class="slider">
    		<div style="width: 20%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla interdum lobortis. In eu massa non arcu pulvinar elementum. Nunc in dolor purus. Donec lacinia, mauris vitae semper semper, sem ligula consectetur ipsum, eu feugiat elit diam ut nulla. Integer vitae lacinia enim. Nulla eget diam elit. Sed id orci scelerisque, hendrerit tellus in, euismod sapien. Duis fermentum sem et ante eleifend finibus ac et est.
    		<p>John Doe</p></div>
    		<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla interdum lobortis. In eu massa non arcu pulvinar elementum. Nunc in dolor purus. Donec lacinia, mauris vitae semper semper, sem ligula consectetur ipsum, eu feugiat elit diam ut nulla. Integer vitae lacinia enim. Nulla eget diam elit. Sed id orci scelerisque, hendrerit tellus in, euismod sapien. Duis fermentum sem et ante eleifend finibus ac et est.
    		<p>John Doe</p></div>
  		</div>
	</div>


	<div class="main-part3_getstart">
		<p>Start Building Your Own Profile</p>
		<div class="main-part3_getstartBttn">Get Started</div>
	</div>

	</main>
	
	<footer>
		
		<div class="mail">
		<h3>DROP US A LINE</h3>
			<input type="text" value="NAME" class="mail-input">
			<input type="text" value="EMAIL" class="mail-input">
			<textarea type="text" name="MESSAGE">MESSAGE</textarea>
			<input type="submit" value="SEND" class="mail-submit_bttn">
		</div>
		<div class="contact">
			<h3>VISIT YOUR OFFICE</h3>
			<p style="font-weight: bold;">NEW YORK</p>
			<p>5 Park Avenue<br>New York, NY 10016<br>USA</p>
			<p>+1 718.242.5555<br>+1 718.242.5556<br>ny@jobseek.com</p>
			<p>Mon-Fri 9am-5pm<br>Sat 10am - 2pm<br>Sun Closed</p>
		</div>

		
	</footer>
	<div class="socialBttn">
			<img src="img/fb.png">
			<img src="img/twitter.png">
			<img src="img/inst.png">
			<img src="img/linked.png">
			<img src="img/pinter.png">

			<p>@ 2016 SiteName - all rights reserved</p>
		</div>
		
	 <script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
  </script>
</body>

</html>